<div id="root"></div>
<%= javascript_tag do -%>
  var baseUrl = '<%= j Settings.base_url %>';
  var backendContentUrl = '<%= j Settings.backend.public_content_url %>';
  var previewSocketUrl = '<%= j Settings.backend.public_socket_url %>';
  var version = '<%=j VersionHelper.version_name %>';
  Raven.setExtraContext({version: version});
  var webChat = true;
<% end -%>
<%= javascript_pack_tag 'application' %>
