<div id="root"></div>
<%= javascript_tag do -%>
  var userEmail = '<%=j current_user.email %>';
  var userName = '<%=j current_user.display_name %>';
  var version = '<%=j "ui: #{Rails.application.config.version_name} - engine: #{Backend.version}" %>';
<% end -%>
<%= javascript_pack_tag 'application' %>
