<!DOCTYPE html>
<html>
  <head>
    <title>Aida</title>
    <%= csrf_meta_tags %>
    <%= render partial: "shared/sentry" %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto:300,400,500,700">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'stylesheet' %>
    <%= stylesheet_pack_tag 'stylesheet' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
